<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246728864569-76uid5r3n6rlknte22fv8hje7no9jvdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246728864569-76uid5r3n6rlknte22fv8hje7no9jvdj</string>
	<key>API_KEY</key>
	<string>AIzaSyCfaCNQHM2adfLw50LsS6ATRemSWCTVpLA</string>
	<key>GCM_SENDER_ID</key>
	<string>246728864569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>User.jDetect</string>
	<key>PROJECT_ID</key>
	<string>idetection-95875</string>
	<key>STORAGE_BUCKET</key>
	<string>idetection-95875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246728864569:ios:f2560cb26a7ed2c9</string>
	<key>DATABASE_URL</key>
	<string>https://idetection-95875.firebaseio.com</string>
</dict>
</plist>